{% extends 'home.html' %}
{% load static %}

{% block title %} Japonês - História {% endblock %}


{% block content %}
<h1>Contatos</h1>

<p>TELEFONE: 3881-7971</p>
<p>EMAIL: jedantas64@gmail.com</p>

<h3><b>Horário de funcionamento</b></h3>
<div class="col-md-2"></div>
                    <table id="canela">
                    <tr>
                        <th>Dias</th>
                        <th>Horário</th>
                    </tr>
                    <tr>
                        <td>Segunda à Sexta</td>
                        <td>9:00 - 16:00</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>10:00 - 15:00</td>
                    </tr>
                    <tr>
                        <td>Domingo e Feriados</td>
                        <td>Fechado</td>
                    </tr>
                 </table>
                </div>
</div>
 <div class="rodape2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3676.3363588138977!2d-43.2556501!3d-22.8640299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997c013902f0c3%3A0xa1ad7b4cb85e0ddb!2sSenac%20Bonsucesso!5e0!3m2!1spt-BR!2sbr!4v1760571840615!5m2!1spt-BR!2sbr" width="400" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         <br>
         </div>
{% endblock %}
