{% extends 'home.html' %}
{% load static %}

{% block title %} Japonês - História {% endblock %}
<link rel="stylesheet" href="{% static 'style.css' %}">


{% block content %}
Um fisiculturista e um toureiro se enfrentaram para fazer o maior sushi do mundo, no meio dessa disputa eles decidiram se aliar para formar o maior restaurante do Brasil. E assim surgiu o restaurante SushiCesso no qual seu prato chefe é seu famoso mega sushi feito de carne de tubarão.

<div class="container apres">
        <img src="/static/principal/imagens/sushi.jpg">
</div>

Uma ambiente refinado cheio de elegancia e preços acessiveis a diversas clientelas. Venha você tambem se maravilhar no SushiCesso.

<div class="container apres">
        <img src="/static/principal/imagens/AMBIENTE.jpg">
</div>
{% endblock %}
